@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
}
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
header {
  background-color: #1F2937;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
h1 {
  color: #ffffff;
  font-size: 28px;
}
nav {
  display: flex;
  gap: 24;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.hero {
  background-image: url("images/Hero.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ovrlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}
h2 {
  color: #ffffff;
  font-size: 48px;
}
.subtext {
  color: #d1d5db;
  font-size: 24px;
}
button {
  background-color: #3B82F6;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 8x;
}
